.list__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list__container-list {
  min-width: 40%;
  max-width: 50%;
  /* width: 50%; */
}
@media (max-width: 1199px) {
  .list__container-list {
    min-width: unset;
    max-width: unset;
    width: 70vw;
  }
}
@media (max-width: 992px) {
  .list__container-list {
    min-width: unset;
    max-width: unset;
    width: 80vw;
  }
}
@media (max-width: 600px) {
  .list__container-list {
    min-width: unset;
    max-width: unset;
    width: 70vw;
  }
}
