.list {
  text-align: center;
}
.list__header {
  font-size: 6.4rem;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: -1px;
}
.list__action {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}
@media (max-width: 1200px) {
  .list__action {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .list__action {
    flex-wrap: wrap;
  }
}
