:root {
  --green-color: #0bd4a2;
  --primary-color: #ff6f47;
  --background-color: ;
  --white-color: white;
  --black-color: black;
}
/* reset css */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
section {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9, #80d0c7);
  color: #fffaf0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
